# Introduction to JOIN Statements Lab

In this lab we will practice writing JOIN statements to write queries across two tables.  The tables will be related to one another via a "has many" and "belongs to" relationship.

## Objectives

1. Become comfortable writing various SQL JOIN statements
2. Select rows on both tables where certain values match using `INNER JOIN`
3. Write `LEFT JOIN` statements to get all the rows from the left table and the matching rows from the right table

## Superheroes and Super Squads

Our database contains two tables: `superheroes` and `squads`.  We have seeded the database with several different superheroes and superhero teams.  Most superheroes "belong to" one of the super squads, which is evident given the `squad_id` column featured in the superheroes table.  The tables are featured below:


`Squads:`

id  |name
----|--------
1   |Avengers
2   |Justice League
3   |The Illuminati




`Superheroes:`

id  |name           |real_identity        |superpower                     |weakness          |squad_id
----|---------------|---------------------|-------------------------------|------------------|---------
1   |Batman         |Bruce Wayne          |works hard                     |mortal human      |2
2   |Superman       |Clark Kent           |superstrength                  |kryptonite        |2
3   |Thor           |Thor Odinson         |summons lightning              |ego               |1
4   |Iron Man       |Tony Stark           |ultra smart                    |mortal human      |1
5   |Wonder Woman   |Diana Prince         |superstrength                  |broken bracelets  |2
6   |Captain America|Steve Rogers         |superstrength                  |mortal human      |1
7   |Aquaman        |Arthur Curry         |breaths underwater             |needs water nearby|2
8   |Black Panther  |T'Challa             |speed and agility              |mortal human      |1
9   |Black Widow    |Natasha Romanoff     |expert martial artist          |mortal human      |1
10  |Hulk           |Bruce Banner         |rage                           |rage              |1
11  |Cyborg         |Victor Stone         |technorganic physiology        |hackers           |2
12  |Megaman        |NULL                 |elemental-mechanical physiology|hackers           |NULL
13  |StretcherFlex  |Jean-Claude Van Damme|enhanced flexibility           |mortal human      |NULL
14  |Goku           |Kakarot              |superstrength                  |myopia            |NULL
15  |Green Lantern  |Alan Scott           |magic ring                     |the color yellow  |2

name        name          
----------  --------------
Batman      Justice League
Superman    Justice League
Thor        Avengers      
Iron Man    Avengers      
Wonder Wom  Justice League
Captain Am  Avengers      
Aquaman     Justice League
Black Pant  Avengers      
Black Wido  Avengers      
Hulk        Avengers      
Cyborg      Justice League
Green Lant  Justice League


Great!  We selected all the superheroes belonging to a team.  However, our formatting is messy.  Let’s rewrite this query to group all the above superheroes according to their team name.  Also, both columns are called `name`, so let’s set the `squads.name` to `team`.

def reformatted_query():

Cool!  But aren’t there some heroes belonging to no team?  Let’s write a query that returns the `name`s and `superpower`s of all the `superheroes` table regardless of their team affiliation.  Again, make sure to also include `squads.name` aliased as `team`.


name        superpower                       team      
----------  -------------------------------  ----------
Megaman     elemental-mechanical physiology            
StretcherF  enhanced flexibility                       
Goku        superstrength                              
Thor        summons lightning                Avengers  
Iron Man    ultra smart                      Avengers  
Captain Am  superstrength                    Avengers  
Black Pant  speed and agility                Avengers  
Black Wido  expert martial artist            Avengers  
Hulk        rage                             Avengers  
Batman      works hard                       Justice Le
Superman    superstrength                    Justice Le
Wonder Wom  superstrength                    Justice Le
Aquaman     breaths underwater               Justice Le
Cyborg      technorganic physiology          Justice Le
Green Lant  magic ring                       Justice Le


Notice that there is also one squad with NO members!  Write a `JOIN` statement that return the `name` of each squad and counts all of its members under the alias `num_of_members`.  (*Hint:* You will need to use a `GROUP BY clause` here.)

name        num_of_members
----------  --------------
Avengers    6             
Justice Le  6             
The Illumi  0